.nav {
  grid-area: nav;
  background-color: red;

  &__link {
    display: block;
    padding: 13px 20px;
    color: white;

    &:hover {
      background-color: #ccc;
      color: #000;
      cursor: pointer;
    }

    &.active {
      background-color: #ccc;
      color: #000;
    }
  }
}
